header h1 {
    color: rgb(157, 252, 199);

}
nav ul{
    padding: 0;
}
nav ul li {
    float: left;
    list-style-type: none;
    color: #333333
}

nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color: rgb(157, 252, 199);

}

main img {
    float: right;
    width: 200px;

}

main h1{
    clear: both;

}

footer {
    text-align: center;
    margin-top: 300px;
}