/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 1340px) {

    header, nav, main, footer, .last {
        max-width: 960px;
        margin: auto;
    }

/*----------- BODY --------------*/
#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

#gallery > .row1, .row2 {
    display: flex;
   
}

#gallery figure {
    margin: 1px;
    text-align: center;   
}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav button {
    display: none;
}
nav ul li a {
    border-top: none;
}


/*----------- MAIN --------------*/
main figure.photo {
    width: 33%;
}


/*----------- FOOTER --------------*/
    .last {
        position: relative;
    }
} /* end of media query */