/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Montserrat, Lato, sans-serif;
}



/*----------- MAIN --------------*/
main {
    padding: 2% 2%;
    min-height: 5rem;
    

}
main h1 {
    color: #6bc6af;
}

main h2 {
    margin: 0 0 0 0;
}


/*----------- HEADER --------------*/

header {
    padding: .5rem 2%;
    background-color: #1f2a30;
    align-content: center;
    padding: 35px;
    
}

header img {
    float: left; 
    margin-right: 30px;
    margin-left: 150px;
    width: 50px;
    

}

header h1 {
    
    margin: 0; 
    font-size: 1.3rem; 
    color: #6bc6af;
    
    
}
header h2 {
    margin: 0; 
    font-weight: normal; 
    font-size: 1rem;
    color: white;
}


/*----------- NAVIGATION --------------*/
nav {
    background-color: #3a4d57;
   
   
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: block;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

.menu:hover {
    background-color: hsl(202, 20%, 19%);
}

.menu:hover > ul li {
    display: block;
}


 ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

ul li {
    display: none;
}
ul li:hover {
    background-color: #6bc6af;
}



/* Section 1 */
.townname {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    
}

.hero {
    height: 550px;
}

#hero {
  
    width: 100%;
    margin-bottom: 50px;
   
}


.container {
    position: relative;
    top: -500px;
    background-color: #6bc6af;
    display: inline-block;
    left: 80px;
    width: 300px;
    padding: 20px;
    opacity: .9;
}

#herocontent>h2 {
    opacity: 1;
    color: #3a4d57;
}
#herocontent>p {
    color: white;
}

/* Section 2 */
.sec2 {
    display: flex;
    justify-content: center;

}

.day {
    text-align: center;
    background-color: #415661;
    width: 100%;
    padding-top: 10px;
    color: white;

}

/* Section 3 */

.sec3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#articleimage {
    width: 30%;
    float: right;
}

.article {
    background-color: #415661;
    padding: 20px;
    color: white;

}

/*----------- FOOTER --------------*/
footer {
    background-color: #3a4d57;
    color: #fff;
   padding-top: 20px;
}


.contact {
    text-align: center;
    display: block;

}

.last {
    display: inline-block;
    background-color: #1f2a30;
    width: 100%;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 40px;
    line-height: 5px; 
    text-align: center;
   
}
.last>#term, h2 {
    color: #6bc6af;
}







/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
